@import './token.scss';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.6;  
}
body {
  background: linear-gradient(to left, rgb(189, 189, 189), rgb(159, 159, 159));
}
.home {
  text-align: center;
  height: 100vh;  
}